# CI4-specific
# .env
# .env.*
# /vendor/
/writable/cache/*
/writable/debugbar/*
/writable/logs/*
/writable/session/*
/writable/uploads/*
/public/img-5s/*
/public/img-profile/*
/public/img-sr/*
/public/img-ttd/*

# System files
.DS_Store
Thumbs.db
*.swp
*.swo

# Node modules (kalau pakai frontend tooling kayak Vite, Tailwind, dll)
node_modules/

# IDE/editor configs
.vscode/
.idea/
*.log

# txt files
importdatabase.txt
passku.txt

# database
*.sql